### LECTURE & ECRITURE PANDAS <=> SQL

* énoncé:
  1. télécharger l'url et écrire en local si **ce n'est pas déjà fait**
     > ATTENTION encodage **iso-8859-1**, et séparateur ";"
  2. se donner un dataframe avec le "Nom de domaine" et le "Pays BE" et un millions de lignes
  3. renommer les colonnes du df comme les colonnes de la table domain_name
  4. créer la base de données dns.db depuis le fichier .sql
  5. connecter sqlaclhemy sur la bdd
  6. utiliser Dataframe.to_sql pour écrire dans la table domain_name
  7. lire table dans un dataframe

In [2]:
import os
import sqlite3
import pandas as pd
from time import time
import numpy as np

# pip install SQLAlchemy
# créer une connexion de bdd
from sqlalchemy import create_engine
# pour créer / modifier un schéma de db
from sqlalchemy.types import Integer, String, Text

URL = "http://www.afnic.fr/wp-media/ftp/documentsOpenData/202105_OPENDATA_A-NomsDeDomaineEnPointFr.zip"

In [8]:
## téléchargement et écriture en local
encoding = "iso-8859-1"
if not os.path.exists("dns.zip"):
    pd.read_csv(URL, sep=";", encoding=encoding).to_csv(
        "dns.zip",
        encoding=encoding,
        compression={
            "method": "zip",
            "archive_name": "dns.csv"
        },
        index=False
    )

In [13]:
# élaguage
dns_df = pd.read_csv(
    "dns.zip", 
    encoding=encoding,
    usecols=["Nom de domaine", "Pays BE"],
    # 1M lignes après 1M en offset 
    nrows=1000000,
    # offset : int => depuis le "header" PB avec le usercols, range plsu malin
    skiprows=range(1, 1000000)
)
dns_df

               Nom de domaine Pays BE
0        cabinet-leprovost.fr      FR
1          cabinet-lerasle.fr      FR
2           cabinetlerasle.fr      FR
3            cabinet-leray.fr      FR
4        cabinet-leray-lpa.fr      FR
...                       ...     ...
999995       ecoledekunlun.fr      FR
999996  ecole-de-la-banque.fr      FR
999997     ecoledelabanque.fr      FR
999998     ecoledelabdomen.fr      FR
999999     ecoledelabeaute.fr      FR

[1000000 rows x 2 columns]

In [14]:
try:
    with sqlite3.connect("dns.db") as conn:
        cur = conn.cursor()
        with open("domain_name_sqlite3.sql", "r", encoding="utf8") as f:
            cur.executescript(f.read())
except (
    sqlite3.OperationalError, 
    sqlite3.DatabaseError,
    ConnectionError
) as e:
    print(e)

In [15]:
# connexion sqlAlchemy
pandas_conn = create_engine("sqlite:///dns.db")
pd.read_sql("pays", pandas_conn, index_col="iso2")
pd.read_sql("SELECT * FROM pays", pandas_conn, index_col="iso2")

                          name
iso2
AE         Emirats Arabes Unis
AT                    Autriche
AU                   Australie
BE                    Belgique
BS                     Bahamas
CA                      Canada
CH                       Chine
CY                      Chypre
CZ          République tchèque
DE                   Allemagne
DK                    Danemark
ES                     Espagne
FR                      France
GB                 Royaume Uni
GP                  Guadeloupe
HK                   Hong Kong
IE                     Irlande
IL                      Israël
IT                      Italie
JP                       Japon
KR         République de Corée
KY                Iles Caïmans
LI               Liechtenstein
LU                  Luxembourg
MA                       Maroc
MC                      Monaco
MQ                  Martinique
MU                     Maurice
NL                    Pays-Bas
NO                     Norvège
PM    Saint-Pierre et Miquelon
RE                     Réunion
SE                       Suède
SG                   Singapour
US                  Etats Unis